.thumbnail {
    width: 16rem;
    height: 24rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.055);
}

.thumbnail:hover {
    transform: scale(1.05);
}