.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0.9);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

@media (max-width: 600px) {

    .modal {
        width: 95vw;
        height: auto;
        max-height: 80vh;
        border-radius: 6px;
    }

    .image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        /* Garante que a imagem não distorça */
    }
}