.cardprojects {
    min-width: 19rem;
    max-width: 19rem;
    height: 26rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardprojects__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cardprojects__icons svg {
    height: 1.5rem;
}

.cardprojects__infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cardprojects h2 {
    margin: 0rem;
}

.cardprojects p {
    font-size: 0.75rem;
    margin: 0rem;
}

.cardprojects__btn {
    background-color: #fff;
    color: var(--primary-color);
    padding:  0.5rem 0.75rem;
    width: fit-content;
    border-radius: 4rem;
    font-size: 0.75rem;
}