.btn {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: fit-content;
    font-size: 0.75rem;
    font-weight: 900;
    color: #fff;
}

.primary {
    background-color: var(--primary-color);
}


.secondary {
    background-color: var(--secondary-color);
}