.navbar {
    margin: 0rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 50 !important;
}

.navbar__title {
    font-weight: 900;
}

.navbar__actions {
    list-style: none;
    align-items: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar__actions li div {
    display: flex;
    align-items: center;
}

.white__text {
    color: #fff !important;
}

@media screen and (max-width: 700px) {
    .navbar {
        margin: 0rem 1rem;
    }
}