.tooglelang {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease;
    transform-style: preserve-3d; 
  }
  
  .tooglelang.rotate {
    transform: rotateY(180deg); 
  }
  