.toggletheme {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    list-style: none;
    margin: 0px;
    padding: 0.25rem 0.25rem;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--font-color) 50%, transparent);
    border-radius: 1rem;
    color: var(--bg-color);
}

.toggletheme li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.toggletheme__select {
    background: var(--font-color);
}