.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 0rem;
}

.projects__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.projects__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1175px) {
    .projects__line {
        gap: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; 
    }

    .projects__line::-webkit-scrollbar {
        display: none; 
      }
}