.stacks {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 11.5rem;
}

.stacks div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stacks__icon {
    height: 2.5rem;
    color: var(--font-color);
    opacity: 60%;
}

.stacks__title {
    font-size: 1rem;
    margin: 0rem;
}

.stacks__description {
    font-size: 0.75rem;
    text-align: start;
    margin: 0rem;
    line-height: 1.4rem !important;
}

@media (max-width: 960px) {
    .stacks {
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .stacks__title {
        text-align: center;
        width: 100%;
    }

    .stacks__description {
        text-align: center;
    }
}