.timeline {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 74%;
    left: 5%;
    width: 95%;
    height: 1px;
    background-color: var(--font-color);
    z-index: 0;
}


.timeline__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}