.timeline {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.timeline::-webkit-scrollbar {
    display: none;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 74%;
    left: 5%;
    width: 100%;
    height: 1px;
    background-color: var(--font-color);
    z-index: 0;
}

.timeline__section {
    min-width: 20%;
    flex-shrink: 0;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media (min-width: 1570px) {
    .timeline {
        overflow-x: unset;
        justify-content: space-between;
        scroll-snap-type: none;
    }

    .timeline__section {
        min-width: auto;
        scroll-snap-align: unset;
    }
}

@media (max-width: 1570px) {
    .timeline::before {
        width: 80rem;
    }
}

@media (max-width: 630px) {
    .timeline::before {
        width: 100rem;
    }
}