:root {
  --font-color: #242424;
  --bg-color: #f4f4f4;
  --primary-color: #5C35A8;
  --secondary-color: #1DA099;
}

[data-theme="dark"] {
  --font-color: #f4f4f4;
  --bg-color: #242424;
  --primary-color: #7A4BC6;
  --secondary-color: #17B89A;
}

/*@media screen and (prefers-color-scheme: dark) {
  :root {
    --font-color: #f4f4f4;
    --bg-color: #242424;
    --primary-color: #7A4BC6;
    --secondary-color: #17B89A;
  }
}*/

body,
html {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
}