:root {
  --font-color: #242424;
  --bg-color: #f4f4f4;
  --bg-color-secondary: #ffffff;
  --primary-color: #5C35A8;
  --secondary-color: #1DA099;
}

[data-theme="dark"] {
  --font-color: #f4f4f4;
  --bg-color: #242424;
  --bg-color-secondary: #323232;
  --primary-color: #7A4BC6;
  --secondary-color: #17B89A;
}

/*@media screen and (prefers-color-scheme: dark) {
  :root {
    --font-color: #f4f4f4;
    --bg-color: #242424;
    --primary-color: #7A4BC6;
    --secondary-color: #17B89A;
  }
}*/

body,
html {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  box-sizing: border-box; 
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
    padding: 2rem 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 2rem 0.75rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem 0.5rem;
  }
}