.about {
    text-align: center;
    font-size: 1rem;
    width: 62%;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color);
}

.about p {
    line-height: 1.8rem;
}