.about {
    text-align: center;
    font-size: 1rem;
    width: 62%;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color);
}

.about p {
    line-height: 1.8rem;
}

.about__stacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5.75rem;
}

.about__cta {
    font-weight: bold;
    padding-top: 5.75rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.about__btncv {
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    background-color: var(--secondary-color);
    text-decoration: none;
}

.about__btncv svg {
    padding-left: 1rem;
}

@media (max-width: 960px) {
    .about {
        width: 90%;
    }
}