.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1 !important;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
}

.banner__overlay_text {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
}

.banner__overlay_text p {
    font-size: 1.5rem;
    font-weight: 200 !important;
    margin: 0rem;
}

.banner__overlay_text h1 {
    font-size: 2.5rem;
    font-weight: 900 !important;
    margin: 0rem;
}

.banner__picture {
    height: 26rem;
}

.banner__line01 {
    height: 15rem;
    position: absolute;
    top: 0;
    right: 0;
}

.banner__line02 {
    height: 15.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner__circles {
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}