.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: 40 !important;
    overflow: visible;
    overflow-x: hidden;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
    z-index: 45 !important;
}

.banner__overlay_text {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
}

.banner__overlay_text p {
    font-size: 1.5rem;
    font-weight: 200 !important;
    margin: 0rem;
}

.banner__overlay_text h1 {
    font-size: 2.5rem;
    font-weight: 900 !important;
    margin: 0rem;
}

.banner__picture {
    height: 26rem;
    object-fit: contain;
    display: block;
}

.banner__line01 {
    height: 15rem;
    position: absolute;
    top: 0;
    right: 0;
}

.banner__line02 {
    height: 15.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner__circles {
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}

@media (max-width: 960px) {

    .banner {
        height: 80vh;
    }

    .banner__image {
        height: 500px;
    }

    .banner__overlay {
        flex-direction: column !important;
        z-index: 10 !important;
        height: 100%;
    }

    .banner__overlay_text {
        margin-top: 5rem;
        width: 20rem;
    }

    .banner__picture {
        position: relative;
        z-index: 47 !important;
        object-fit: contain;
        display: block;
    }

    .banner__circles {
        margin-top: 1rem;
        margin-bottom: 0rem;
        display: flex;
        justify-content: end;
        align-items: end;
        position: relative;
    }

    .banner__overlay_text {
        align-items: end;
    }

    .banner__overlay_text p {
        font-size: 1.5rem;
        text-align: start;
        width: 100%;
    }
    
    .banner__overlay_text h1 {
        font-size: 2rem;
    }

    .banner__line02 {
        display: none;
    }
}