.networks {
    position: relative;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.networks__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.networks__iconContainer {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.networks__icons {
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 4rem;
    height: 7.5rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.networks__icons svg {
    height: 4rem;
}

.networks__footer {
    background-color: #252525;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 0.75rem 0rem;
}