.publications h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.publications__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}