.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
}

.contact h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
}

.contact p {
    text-align: center;
    font-size: 1rem;
}

.contact__btn {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    border-radius: 4rem;
}

.contact__btn svg {
    height: 2rem;
}