.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 0rem;
}

.services__line {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}