.navbar {
    padding: 0rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 50 !important;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

.navbar__title {
    font-weight: 900;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font-color);
}

.navbar__actions {
    list-style: none;
    align-items: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar__actions li div {
    display: flex;
    align-items: center;
}

.white__text {
    color: #fff !important;
}

.bg__color {
    background-color: var(--bg-color);
    color: var(--font-color) !important;
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 0rem 1rem;
    }
}