.projects__banner {
    padding-top: 4rem;
    height: 10rem;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__title div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects__title_img {
    background-color: #ddd;
    border-radius: 4rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.projects__title h1 {
    font-size: 2rem;
    font-weight: 900;
}

.projects__title p,
.projects__learned p {
    text-align: justify;
}

.projects__tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projects__tools_infos h2,
.projects__learned h2 {
    font-size: 1rem;
}

.projects__tools_infos ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    gap: 1rem;
}

.projects__tools_infos ul li svg {
    height: 1.5rem;
}

.projects__tools a {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4rem;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    height: 3rem;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.projects__tools a svg {
    height: 1.5rem;
}

.projects__images ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0rem;
}

.projects__images ul li {
    max-width: 12rem;
    min-width: 12rem;
    height: 14rem;
    background-color: #ddd;
    border-radius: 1rem;
}

.projects__contact {
    position: relative;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 2rem;
}

.projects__contact__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.projects__contact_infos {
    position: relative;
    z-index: 1;
    color: var(--font-color);
    max-width: 60rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__contact_infos h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.projects__contact_infos p {
    font-size: 1rem;
}

.projects__contact_infos a {
    color: var(--primary-color);
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    border-radius: 4rem;
    margin-top: 4.5rem;
}

@media (max-width: 1175px) {
    .projects__images ul {
        gap: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .projects__images ul::-webkit-scrollbar {
        display: none;
    }

    .projects__tools {
        flex-direction: column;
        gap: 3rem;
        align-items: start;
    }

    .projects__tools a {
        width: 80%; 
        justify-content: center; 
    }

    .projects__contact {
        height: 30rem;
    }
}